# Hugo
.hugo_build.lock
public/
resources/
resources/_gen/
hugo_cache/
resources/_gen/

# Static/site build caches
.cache/
.tmp/

# Node / JS
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# OS / editors
.DS_Store
.vscode/
.idea/
*.log

# Env / secrets
.env